<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.css" integrity="sha256-NAxhqDvtY0l4xn+YVa6WjAcmd94NNfttjNsDmNatFVc=" crossorigin="anonymous" />
<div class="container" id="tenants-page">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" routerLink="/" style="color:white;">Apartment Checklist</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" 
            aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation"></button>
        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/tenants" routerLinkActive="active">Tenants</a>
                </li>
            </ul>
            <ul class="navbar-nav mx-auto">
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/utilities" routerLinkActive="active">Utilities</a>
                </li>
            </ul>
            <ul class="navbar-nav mx-auto">
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/appliances" routerLinkActive="active">Appliances</a>
                </li>
            </ul>
            <ul class="navbar-nav mx-auto">
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/furniture" routerLinkActive="active">Furniture</a>
                </li>
            </ul>
            <ul class="navbar-nav mx-auto">
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/misc" routerLinkActive="active">Misc.</a>
                </li>
            </ul>
        </div>
    </nav>
    <main id="home" class="text-center" *ngIf="displayHome">
        <div class="mask">
            <h1>Apartment Checklist Tool</h1>
            <p>A simple tool that allows you to record tenant information, organize move-in, and manage costs all in one place.</p>
        </div>
    </main>
</div>
<router-outlet></router-outlet>